body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #363636;
}

h2 {
    font-weight: bold;
    color: whitesmoke;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background: #3bc50c;
    color: whitesmoke;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
}

header h1 {
    font-size: 50px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    transition: 1s ease;
}

header a:hover {
    color: #363636;
    box-shadow: 0px 0px 5px #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #3bc50c;
    box-shadow: 0px 0px 10px #ccc;
}

nav ul li {
    margin: 10px;
    transition: 1s ease;
}

nav ul li:hover {
    box-shadow: 0px 0px 50px #ccc;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    padding: 50px;
    transition: 1s ease;
}

nav ul li a:hover {
    color: #363636;
}

#about p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: whitesmoke;
}

#about a {
    text-decoration: none;
    color: #3bc50c;
    transition: 1s ease;
}

#about a:hover {
    color: #4dff12;
    box-shadow: 0px 0px 10px #ccc;
}

section {
    font-size: 20px;
    padding: 40px;
}

.project-card {
    background: whitesmoke;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.project-card a {
    text-decoration: none;
    color: #3bc50c;
    transition: 1s ease;
}

.project-card a:hover {
    color: #363636;
    box-shadow: 0px 0px 10px #ccc;
}

.container {
    font-size: 20px;
    padding: 40px;
}

form input, form textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 25px;
    transition: 1s ease;
}

form input:hover {
    box-shadow: 0px 0px 20px #ccc;
}

form textarea:hover {
    box-shadow: 0px 0px 20px #ccc;
}

button {
    font-weight: bold;
    padding: 20px 25px;
    background: #3bc50c;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: 1s ease;
}

button:hover {
    color:#363636;
    box-shadow: 0px 0px 20px #ccc;
}